app:
    title: "PasteNode v0.2"
    subtitle: "Free and Open Source Paste service!"
    database: "mongodb://username:password@server:port/database"
    url: "https://artur9010.pl/"
recaptcha:
    site_key: ""
    secret_key: ""
language:
    index_add: "Add"
    index_new_paste: "New paste"
    index_name: "Name"
    index_syntax: "Syntax"
    index_content: "Paste content"
    index_captcha: "Captcha"
    paste_raw: "Raw"