app:
    title: "PasteNode v0.5"
    database: "mongodb://username:password@server:port/database"
    url: "https://artur9010.pl/"
recaptcha: #developer keys, captcha testing mode (no protection)
    site_key: "6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
    secret_key: "6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe"