app:
    title: "PasteNode v0.1"
    subtitle: "Free and Open Source Paste service!"
    database: "mongodb://username:password@server:port/database"
    url: "https://artur9010.pl/"
language:
    add: "Add"
    new_paste: "New paste"