.number{
    align-items: initial;
    background-color: initial;
    border-radius: initial;
    display: initial;
    font-size: initial;
    height: initial;
    justify-content: initial;
    margin-right: initial;
    min-width: initial;
    padding: initial;
    text-align: initial;
    vertical-align: initial;
}