extends ../includes/layout.pug

block content
    h1 404 Not found.
    
block sidebar
    li.header PasteNode
        li
            a(href="/") Home
        li
            a(href="https://github.com/artur9010/PasteNode") Fork on GitHub