extends ../includes/layout.pug

block content
    h1 500 Internal Server Error
    pre= error
    p
        center
            a(href="https://github.com/artur9010/PasteNode/issues").btn.btn-danger.btn-lg Report on GitHub
    
block sidebar
    li.header PasteNode
        li
            a(href="/") Home
        li
            a(href="https://github.com/artur9010/PasteNode") Fork on GitHub