extends ../includes/layout.pug

block head
    link(rel='stylesheet' href='/app/public/css/prism.css')
    script(src='/app/public/js/prism.js')

block content
    h2= 'Paste #' + paste_id
    pre
        code.line-numbers(class="language-" + paste_syntax)= paste_content
        
block sidebar
    li.header PasteNode
        li
            a(href="/") Home
        li
            a(href="https://github.com/artur9010/PasteNode") Fork on GitHub
    li.header This paste
        li.active
            a(href="#") View paste
        li
            a(href="#") Embed
        li
            a(href= appurl + paste_id + "/raw") Raw
        li
            a(href="#") Delete